<div class="index-page">
  <h1>Demos:</h1>
  <ul>
    <li><a href="/db">db</a></li>
    <li><a href="/upload">file upload</a></li>
    <li><a href="/protected">protected page</a></li>
    <li><a href="/profile">profile</a></li>
  </ul>
  <button type="button" id='createButton'>Create Profile</button>
  <button type="button" id='readButton'>Read Profiles</button>
  <button type="button" id='deleteButton'>Delete Profile</button>
</div>
