<div class="index-page">
<script type="text/javascript">
	function mean(x){
	var sum;
	for (var i = x.length - 1; i >= 0; i--) {
		sum = sum +x[i];
		}
	var mean = sum/x.length;
	return mean;}

</script>
  <h1 style="text-align: center; color:turquoise;">Projects</h1>
  <div class="projects-container">
  <ul>
  {{#each projects}}
    <li id="project" style="background: url('{{this.pdfProject}}')"><div id="hover-content">{{this.description}}
    </div><div class="project" id="project{{this._id}}"> <div class="title"> {{this.title}}</div> <div class="rating"></div><form class="rating_submit" action="/rate" method="post">
  <div class="rating">
    <label>☆
      <input type="radio" name="starValue" value="5" />
    </label>
    <label>☆
      <input type="radio" name="starValue" value="4" />
    </label>
    <label>☆
      <input type="radio" name="starValue" value="3" />
    </label>
    <label>☆
      <input type="radio" name="starValue" value="2" />
    </label>
    <label>☆
      <input type="radio" name="starValue" value="1" />
    </label>
  </div>
</form></div>	</li>
    {{/each}}
  </ul>
</div>
</div>