<div class="index-page">

  <h1>Demos:</h1>
  <ul>
    <li><a href="/db">db</a></li>
    <li><a href="/upload">file upload</a></li>
    <li><a href="/protected">protected page</a></li>
  </ul>

</div>

<div class="columns is-multiline">
    {{#each projects}}
      <div class="column is-one-quarter" id="proj_{{this._id}}">
        <img src="http://localhost:5000/api/picture/{{this._id}}">
        <p>{{this.title}}</p>
        <p>{{this.userId}}</p>
      </div>
    {{/each}}
</div>
