
.upload-page #file-chooser-widget {
  margin-bottom: 10px;
}

 /* Add a black background color to the top navigation */
 /*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: light;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    padding-top: 0px;

}

.menulist {
    width:200px;

}
 .section{
 	position: element("#topNav");
 	transform: translate(0px, 150px);

 }
/*----- Menu -----*/



 
/*----- Search -----*/

 
.search-form input {
    width:200px;
    height:30px;
    padding:0px 8px;
    float:left;
    border-radius:2px 0px 0px 2px;
    font-size:13px;
}
 
.search-form button {
    height:30px;
    padding:0px 7px;
    float:right;
    border-radius:0px 2px 2px 0px;
    background:#66a992;
    font-size:13px;
    font-weight:600;
    text-shadow:0px 1px 0px rgba(0,0,0,0.3);
    color:#fff;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}
 
@media screen and (max-width: 970px) {
    .search-form input {
        width:120px;
    }
}

 
    .menulist ul {
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
       background-color: #333;;
    }
 
    .menulist ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }
 
    .menulist li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
       
    }
 
    .menulist a {
        display:block;
    }

 
    .search-form {
        margin:12px 0px 0px 20px;
        float:left;
    }
 
    .search-form input {
        box-shadow:-1px 1px 2px rgba(0,0,0,0.1);
    }
}

.navbar-container {
    display: inline-block;
    cursor: pointer;
    width: 100%
  

}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.search-form {
    float:right;
    display:inline-block;
  
}

/*Index Page*/
.projects-container {
    position:relative;

    width: 900px;
    left:330px;
}
.projects-container ul { 
    position: absolute;
    margin: auto;
    padding: 10px; /* remove default padding and all margins! */
/*    margin-left: 5;
    margin-right:5;*/
    list-style-type: none; /* remove the • */
}
.projects-container ul li {
    width: 250px;
    height: 250px;
    margin: 5px 5px 5px 5px;
    float: left;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat !important;

}
.project{
    position: absolute;
    float: bottom;
    display: flex;
    width:100%
    height: 250px !important;
}


.title {
   display:inline-block;
    margin: 0 auto;
    height:50%;
    color:turquoise;
}
/* Star ratings */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  position: relative;
  margin-top: 100px;
  margin-right:40px;
}
.rating > label {

  display:block;
  position: relative;

  width: 1.1em;
  color:yellow;
}
.rating > label.active:before,
.rating > label.active ~ label:before,
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  content: "\2605";
  position: absolute;
}
.rating input{
  display: none;
}


/* pagnation */

.w3-center{
    position: absolute;
    margin: 700px 0px 0px 625px; 
}

/* Hover Interaction */
#hover-content {
    display:none;
}


 body {
    margin: 0;
    padding: 0;
    position: relative;
}